version: '3.8'

services:
  postgres-db:
    image: postgres:13
    container_name: postgres-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: edu_db
    ports:
      - "5432:5432"
    restart: unless-stopped

  edu:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: edu
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      - postgres-db