server:
  port: 80
  servlet:
    context-path: /

spring:
  datasource:
    url: jdbc:postgresql://postgres-db:5432/edu_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate

  flyway:
    enabled: true
    clean-on-validation-error: false
    clean-disabled: false
    locations: classpath:db/migration
    baseline-on-migrate: true
    baseline-version: 1
    validate-on-migrate: true
    out-of-order: false