server:
  servlet:
    context-path: /

spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}
  jpa:
    show-sql: ${SHOW_SQL:true}
    hibernate:
      ddl-auto: ${DDL_AUTO:validate}
  flyway:
    enabled: ${FLYWAY_ENABLED:true}
    clean-on-validation-error: false
    clean-disabled: false
    locations: classpath:db/migration
    baseline-on-migrate: true
    baseline-version: 1
    validate-on-migrate: true
    out-of-order: false